@using WebApplication2.Models

@{
    ViewBag.Title = "byId";
}

@{
    Person p = (Person)ViewData["p"];
}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


@if (@p == null)
{
    <div class="alert alert-danger" role="alert">
        <h1>Person not found!</h1>
        <h5>Try another one.</h5>
    </div>
}
else
{


    <div class="card">
        <div class="card-body">
            <h1 class="card-title">@p.id) @p.lastName @p.firstName</h1>
            <p class="card-text">
                <ul>
                    <li>Email: @p.email</li>
                    <li>Date birth: @p.dateBirth</li>
                    <li>Country: @p.country</li>
                </ul>
            </p>
        </div>
        <img class="card-img-bottom" src=@p.image alt="Card image cap">
    </div>


}
